{
    "DASHBOARD_POLICHAT_USER": "email@exemplo.org.br",
    "DASHBOARD_POLICHAT_PASS": "senha123",
    "PORTAL_PBU_USER": "usuario.exemplo",
    "PORTAL_PBU_PASS_AGENDAMENTOS": "senhaAgendamentos",
    "PORTAL_PBU_PASS_VALORES_BOLSAS": "senhaValores",
    "SIBU_BANCO_DADOS_PASS": "senhaBancoDados"
}
