argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.12.1
cffi==2.1.0
cramjam==2.11.0
Django==6.0.5
duckdb==1.5.4
et_xmlfile==2.0.0
fastparquet==2026.5.0
fsspec==2026.6.0
greenlet==3.5.3
gunicorn==26.0.0
mysql-connector-python==9.7.0
mysqlclient==2.2.8
numpy==2.4.4
openpyxl==3.1.5
packaging==26.2
pandas==3.0.2
playwright==1.61.0
polars==1.43.0
polars-runtime-32==1.43.0
pyarrow==25.0.0
pycparser==3.0
pyee==13.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
six==1.17.0
SQLAlchemy==2.0.51
sqlparse==0.5.5
typing_extensions==4.16.0
whitenoise==6.12.0
xlsxwriter==3.2.9
